<ion-header>
  <ion-toolbar>
    <ion-title>filtros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section>
    <header>Guardar</header>
    <ion-button expand="block" (click)="Autor()">Guardar</ion-button>
  </section>

  <section>
    <header>Guardar</header>
    <ion-button expand="block" (click)="Titulo()">Guardar</ion-button>
  </section>

  <section>
    <header>Guardar</header>
    <ion-button expand="block" (click)="Abstract()">Guardar</ion-button>
  </section>

</ion-content>
